html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
html{
    overflow: hidden;
}
.history{
    width: 100vw;
    height: 100vh;
}
.backgroud-video{
    position: fixed;
    /* width: 100vw; */
    height: 100vh;
    top: 0;
    z-index: -1;
}
.history-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.5rem;
    margin-top: 5vh;
    font-weight: bolder;
}
.year-container{
    display: flex;
    column-gap: 20vw;
    /* overflow-y: visible;
    overflow-x: scroll; */
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    margin-top: 4vw;
}
.year-box,
.comming-soon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 12vw; */
    color: var(--white);
    font-size: 2rem;
    border: 1px solid var(--white);
    border-radius: 100%;
    max-height: 500px;
    max-width: 500px !important;
    min-width: 400px;
    min-height: 400px;
    white-space: nowrap;
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.239), 0 0 60px rgba(255, 255, 255, 0.239) inset;
    cursor: pointer;
}
.first-year{
    position: relative;
    top: -7%
}
.comming-soon{
    position: relative;
    top: -15%;
    cursor:auto;
}
.footer-bar{
    display: flex;
    column-gap: 2%;
    align-items: center;
    justify-content: center;
}
.footer-container{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    /* margin-top: 1.5vw; */
    /* margin-top: 1.5%; */
    margin-top: 25px;
}
.back,
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    min-width: 3.5vw;
    min-height: 3.5vw;
    font-size: 1.4rem;
    border: 1px solid var(--white);
    border-radius: 100%;
}
.line-container{
    display: flex;
    align-items: center;
    column-gap: 2vw;
}
.line{
    width: 24vw;
    height: 0;
    border: 0.1px solid var(--white);
}
.sub-year{
    color: var(--white);
    font-size: 0.8rem;
    white-space: nowrap;
}
.dot-container{
    display: flex;
    column-gap: 15px;
    justify-content: center;
}
.dot{
    width: 12px;
    height: 12px;
    min-width: 10px;
    min-height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.451);
    border-radius: 100%;
}
