@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

/* 바다_표지 1 */
body {

    background: url('바다_표지1.png');
    width: 1920px, 100%;
    height: 1080px, 100%;
    flex-shrink: 0;
    
    
}

/* WE ARE GARDENERS */
h1 {
    position: absolute;
    width: 579px;
    height: 96px;
    left: calc(50% - 579px/2 - 0.5px);
    top: 183px;

    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 160%;
    /* identical to box height, or 96px */
    text-align: center;

    color: #FFFFFF;

}

p {
    /* Wellcome */

    color: #4C5D91;
text-align: center;
font-family: "Zen Kaku Gothic New";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 48px */

}

.레이어 {
    box-sizing: border-box;
    border-top: 50;
    border-left: 60;
    border-right: 1742;
    border-bottom: 6578;
    width: 118px;
    height: 36px;
    flex-shrink: 0;
}

.group2{
    width: 47px;
    height: 47px;
    flex-shrink: 0;
}
